@import "tailwindcss";

@theme {
  /* default */
  --font-sans: "Quicksand", sans-serif;

  --breakpoint-smallest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-maxmid: 900px;
  --breakpoint-lg: 1024px;
}

@layer components {
  .defaultColor {
    /* dark:bg-slate-900 */
    @apply bg-white transition-colors duration-300;
  }

  .borderStyling {
    /* dark:border-slate-700 */
    @apply border-stone-300;
  }

  /* in use in the input component */
  .input {
    @apply rounded-sm border border-stone-300 px-1.5 py-1.5 text-sm text-black transition-all duration-300 placeholder:text-xs hover:border-slate-400 focus:ring-2 focus:ring-slate-400 focus:outline-hidden;
  }
}
