@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* default */
  --font-sans: "Quicksand", sans-serif;

  --breakpoint-smallest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-maxmid: 900px;
  --breakpoint-lg: 1024px;
}

/* Initial info prompt color
text-slate-400

import { LuChartNoAxesColumnDecreasing } from "react-icons/lu";
 */

@layer components {
  .defaultColor {
    @apply bg-white transition-colors duration-300 dark:bg-slate-900;
  }

  .primary-text-color {
    @apply text-slate-900 dark:text-slate-100;
  }
  .secondary-text-color {
    @apply text-slate-500 dark:text-slate-300;
  }

  .transition {
    @apply transition-colors duration-300;
  }

  .borderStyling {
    @apply border-stone-300 dark:border-slate-700;
  }

  .icons {
    @apply h-5 w-5 text-slate-600 dark:text-slate-300;
  }

  .label {
    @apply medium:text-xs mb-2 block text-sm font-medium text-slate-500 dark:text-slate-400;
  }

  /* in use in the input component */
  .input {
    @apply rounded-sm border border-stone-300 px-1.5 py-1.5 text-sm text-black transition-all duration-300 placeholder:text-xs hover:border-slate-400 focus:ring-2 focus:ring-slate-400 focus:outline-hidden;
  }

  /* Editor specific overrides */
  .ProseMirror p {
    margin: 0;
  }
}

/*
//Replace test mode with proper security rules

match /flashcards/{flashcardId} {
  allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
  allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
}
// This ensures each user can only access their own flashcards.
*/
